:root{
  --fondo: #348FC9;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
h1 {
  font-weight: 700;
}
nav, footer {
  background-color: var(--fondo);
}

header {
  background-image: url('../img/bg-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 25rem;
}
.trabajos{
  text-align: center;
  background-color: var(--fondo);
}
.hamburgesa{
  color: white;
}
